<table>
  <thead>
    <tr>
      <th>Period</th>
      <th>Amount</th>
    </tr>
  </thead>
  
  <tbody>
    <% payments.each do |payment| %>
    <tr>
      <td><%= payment.first.strftime('%B %Y') %></td>
      <td><%= number_to_currency(payment.second, :unit => 'Rs. ', :precision => 0) %></td>
    </tr>
    <% end %>
  </tbody>
</table>