<%= semantic_form_for [:admin, current_admin_user], url: find_student_admin_students_path, method: :get do |f| %>
  <%= f.input :id, label: 'Student ID', as: :select, collection: Student.get_all_with_id, input_html: { class: 'chosen-select', style: 'width: 400px;' }, include_blank: true %>
  
  <%= f.buttons do %>
    <%= f.commit_button 'Find Student' %>
  <% end %>
  <div style="height: 50px;"></div>
  <div class="clear"></div>
<% end %>