// Active Admin CSS Styles
@import "fancybox";
@import "chosen";
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

.chosen-select {
	width: 12%
}

th.status {
	text-transform: none;
  letter-spacing: 0px;
}

.btn {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(-90deg, #838A90, #414549) repeat scroll 0 0 transparent;
  border-color: #616A71 #484E53 #363B3F;
  border-radius: 200px 200px 200px 200px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  color: #EFEFEF !important; 
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none !important;
  text-shadow: 0 1px 0 black;
}

.btn:hover {
  background: -moz-linear-gradient(-90deg, #8B9297, #484D51) repeat scroll 0 0 transparent;
  color: #FFFFFF;
}

.dashboard_btn {
  padding:5px 0px;
}

.clear{
  clear: both
}

#find_student{
  width: 700px;
}